.OperationHistory {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.OperationHistory h2 {
  color:rgb(211,211,211);


}

.OperationHistory-grid {
  width:9s0%;
  color:rgb(211,211,211);
  display:grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(5,21,41);
  padding:10px;
}
.OperationHistory-grid h3{
  color:rgb(211,211,211)
}

.OperationHistory_operation1 {
  margin:5px;
  padding: 5px;
  border: 2px solid rgba(236,72,127,0.7);
}

.OperationHistory_operation2 {
  margin:5px;
  border: 2px solid rgba(234,142,57,0.7);
  padding: 5px;
}

.OperationHistory_operation3 {
  margin:5px;
  border: 2px solid rgba(56,175,91,0.7);
  padding: 5px;
}

#no-operations {
  color:rgb(211,211,211);
  align-self: center;
  font-size: 1.5rem;
}

.OperationHistory-checkboxes-title {
  width:80%;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
