.usersList-father {
  display:flex;
  flex-direction:column;
  width:100%;
  align-items: center;
}

.usersList-title {
  background-color: rgb(5,21,41);
  font-size: 1.1rem;
  font-weight: 600;
  color:rgb(211,211,211);
}

.userList-addUser-button {
  width:40%;
  border-radius:20px;
  margin-top: 4%;
}


.usersList-list {
  overflow: scroll;
  height: 80px;
  margin: 5px 0 0 0;
  padding: 0;
}

.usersList-user {
 border-bottom: 2px solid #2a3843;
 margin: 0;
 padding: 0 25px;
}

.usersList-user p {
  margin-top: 10px;
  color:rgb(211,211,211)
}

.usersList-addUser {
}

.usersList-addUser input {
  margin-top: 10px;
  color:rgb(211,211,211);
  border:none;
  background-color: rgb(5,21,41);
  border-bottom: 2px solid #2a3843;

}

.usersList-addUser input:focus {
    outline:none;
}
