.usersList-father {
  width:25%;
  height:60%;
  display:flex;
  flex-direction:column;
  height: 100%;
  width:100%;
}

.usersList-title {
  width:100%;
  height:10%;
  background-color: rgb(5,21,41);
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  font-size: 1.1rem;
  font-weight: 600;
  color:rgb(211,211,211);
  /*border-left: 2px solid #2a3843;
  border-right: 2px solid #2a3843;
  border-top:2px solid #2a3843;*/
  /*border-bottom: 2px solid #2a3843;*/
}

.addUser-button {
  width:40%;
  /*height:5%;*/
  align-self: center;
  border-radius:20px;
  margin-top: 4%;
  background-color: rgb(5,21,41);
  color:rgb(211,211,211);
  border:1px solid rgb(211,211,211)

}
.addUser-button:hover {
  border-width: 3px;

}


.usersList-list {
  display: flex;
  style:none;

}

.usersList-user {
 border-bottom: 2px solid #2a3843;
 display:flex;
 justify-content: center;
 align-items: center;

}

.usersList-user p {
  margin-top: 10px;
  color:rgb(211,211,211)
}

.usersList-addUser {
  display:flex;
  justify-content: center;
  align-items: center;
}

.usersList-addUser input {
  margin-top: 10px;
  width:190px;
  color:rgb(211,211,211);
  border:none;
  background-color: rgba(5,21,41);
  border-bottom: 2px solid #2a3843;
}

.usersList-addUser input:focus {
    outline:none;
}
