.navbar-container {
  position: absolute;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 100;
}
.navbar-container * {
  color:white;
}
.navbar-container2 {
  position: fixed;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: rgb(5,21,41);
  border-bottom: 2px solid #2a3843;

}

.navbar-title {
  width:12%;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10%;
}

.navbar-title p {
  margin-top: 10%;
  margin-left: 10%;
}

.navbar-ticker {
  margin-top: 1%;
  margin-left: 5%;

}

.nav-bar-links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 30%;
}

.nav-bar-links-items {
  text-decoration: none;
}


.nav-bar-loggedIn {
  font-size: 16px;
  font-weight: lighter;
}


.nav-bar-logo {
  padding-top: 10px;
}


.nav-bar-logOut {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-right: 30px;
  margin-left: 20px;
  font-weight: lighter;
  outline: none;
}


.nav-bar-signup {
  margin-top: 600px;
  background-color: white;


}


.nav-bar-login {
  background-color: white;
  margin-top: 180px;

}

.nav-bar-userenter {
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border-style: none;
  margin-left: 10px;
  margin-right: 10px;
}
