.login-component {
  height: 18;
  width: auto;
  padding-bottom: 10px;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  float: center;

}

.login-component-item {
  width: 70%;
  background-color: inherit;
  display: block;
  border: none;
  padding: 8px 16px;
  margin: 10px;
  justify-content: center;
  margin-left: auto;
  border-bottom:1px solid black;
  margin-right: auto;
}
.login-component-item:focus {
  outline:none;
}

.login-button {
  width: 50%;
  background-color: rgb(0, 23, 138, 0.6);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius:30px;

}

.form {

}

.formfield {
  display: block;
  width: 100%;
  justify-content: center;
}
