.CreateWalletView {
  display:flex;
  justify-content: center;
  align-items: center;
  height:87vh;
  width:100vw;
  background-color: transparent;
  justify-content: center;
  align-self: center;
  background-color: rgb(5,21,41);
}

.CreateWalletView > * {
  z-index: 7;
}

.cw-create-wallet-button {
  text-align: center;
  width: 200px;
  height: 80px;
  justify-content: center;
  border: 2px solid rgb(211,211,211);
  font-weight: lighter;
  color: white;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
     transition-duration: 0.4s;

  border-radius: 20px;
  background-color: inherit;
}

.cw-create-wallet-button:hover {
  text-align: center;
  width: 200px;
  letter-spacing: 1px;

  height: 80px;
  justify-content: center;
  background-color: rgb(211,211,211);
  color: rgb(5,21,41);
  font-size: 20px;
  border-radius: 20px;
  z-index: 5;
}
