

.inputfield {
  width: 60%;
  background-color: #e6f7ff;
  display: block;
  border: none;
  padding: 8px 16px;
  margin: 10px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;

}

.vote {
  display: flex;
  padding-top: 120px;
}

.inputfield[placeholder] {
  color: #262626;
  font-style: 'Actor'; font-size: 15px
}

.submitbutton {
  width: 50%;
  background-color: #66a3ff;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 30px;
  cursor: pointer;
  font-size: 16px

}

.form-name {
  font-size: 20px;
  font-weight: lighter;
  justify-content: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  float: center;
  margin: 30px;
}

.formfield {
  display: block;
  width: 100%;
  justify-content: center;
}
