/*ROOT*/
/** {
  margin: 0 !important;
  padding: 0 !important;
}*/

/*APP*/
.father {
  height: 100%;
  width: 100%;
  background-color: rgb(3,21,41);
  
}

.App {
  height: 100%;
}

* {
  text-decoration: none;
}
