.userprofile-father {
  width: 100%;
  top:120px;
  background-color: grey;
  position: relative;
  border-top: 2px solid #2a3843;
}
.ant-layout-sider-children {
  border-right: 2px solid #2a3843;
}
.ant-layout-sider-ant.layout-sider-dark{

}

.userprofile-menuitem {
  max-height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
