.userprofile-father {
  /*height: 100%;*/
  width: 100%;
  background: linear-gradient(black,grey);
  top:120px;
  background-color: grey;
  position: relative;
}

.userprofile-menuitem {
  max-height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
